*{
    margin: 0;
    margin-left: 2px;
}
nav{
    margin: 0;

    
}

    li{
    padding: 5px;
}
ul{
    text-align: right;
    margin-right: 20px;
}
.info{
    vertical-align: top;
    display: inline-block;
}

#heading{
    display: inline-block;
    vertical-align: top;
}
header{
    padding-top: 5px;
}
img{
    border-radius: 20%;
    border-color: black;
    border: 2px;
    border-style: dotted;
   
}
.container-fluid{
    background-color: lavender;
}
.nabvar-brand{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ip{
    margin: 2px;
    width: 20%;
}
